@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
  --primary-gold: #FABB30;
  --secondary-gold: #F59E0B;
  --black: #0a0a0a;
  --white: #fff;
  --gray: #666;
  --light-gray: #ccc;
  --text-primary-gold: var(--primary-gold);
  --text-secondary-gold: var(--secondary-gold);
  --bg-primary-gold: var(--primary-gold);
  --bg-secondary-gold: var(--secondary-gold);
  --bg-black: var(--black);
  --bg-white: var(--white);
  --bg-gray: var(--gray);
  --bg-light-gray: var(--light-gray);
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
  color: var(--black);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100%;
  
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos para el timeline móvil */
.timeline-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 1;
}

/* Línea vertical central */
.timeline-vertical {
  position: absolute;
  left: 54.3%;  
  opacity: 0.1;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--primary-gold);
  z-index: 1;
}
